body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 700;
}

.header .links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 100px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

.upper-body-1 {
    background-color: #1F2937; 
}


.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}