body {
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
    font-weight: 700;
}

.header .links {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 100px;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

.upper-body-1 {
    background-color: #1F2937;
    display: flex;
    height: 400px;
    align-items: center;
}

.upper-text {
    margin-left: 100px;
    flex-wrap: wrap;
    flex-shrink: 4;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 600px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-wrap: wrap;
    flex: 1 1 500px;
}

.upper-text .secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-basis: 500px;
}

.image {
    margin-right: 100px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: lightslategray;
    text-align: center;
    flex: 0 1 400px;
    margin-left: auto;
    padding: 2%;
    width: 5%;
    max-height: 300px;
    object-fit: contain;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin-top: 15px;
    
}

button.blue-back {
    border-color: #F9FAF8;
    margin-left: auto;
    margin-right: 12%;
}

.central {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 36px;
}

.central-imgs {
    box-sizing: border-box;
    border: solid;
    border-color: #3882F6;
    border-radius: 8px;
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit: contain;

}

.center-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 20px;
    padding: 30px;
}

.info {
    max-width: 150px;
    text-align: center;
}

.lower-quote {
background-color: #E5E7EB;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.quote {
    display: flex;
    align-items: baseline;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    max-width: 800px;
    flex-shrink: 1;
    align-items: center;
}

.attribution {
    text-align: center;
    font-size: 24px;
    width: 100px;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12%;
}

.call-title {
    font-size: 20px;
    font-weight: 700;
}

